<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footer">
        <div class="footer-content">
          <div class="footer-item">
          <!-- <i class="fa-solid fa-utensils"></i> -->
            <h3>Jong Nham</h3>
            <p>
              to bring people together over exceptional food crafted with
              passion and care.
            </p>
            <a href="#" class="footer-btn"><span>Book Here</span></a>
          </div>
          <div class="footer-item">
            <h3>Quick Link</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Reservation</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h3>More information</h3>
            <ul>
              <li><a href="#">Complaints book</a></li>
              <li><a href="#">Website Privacy Policy</a></li>
              <li><a href="#">Arc Rights</a></li>
              <li><a href="#">Privacy policy social networks</a></li>
              <li><a href="#">Video surveillance policy</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h3>Open-Close</h3>
            <div class="footer-op">
              <div class="footer-op-c">
                <h6>Monday</h6>
                <h6>Tuseday</h6>
                <h6>Wednesday</h6>
                <h6>Thursday</h6>
                <h6>Friday</h6>
                <h6>Saturday</h6>
                <h6>Sunday</h6>
              </div>
              <div class="footer-op-c">
                <h6>closed</h6>
                <h6>8:00am - 11:00pm</h6>
                <h6>8:00am - 11:00pm</h6>
                <h6>8:00am - 11:00pm</h6>
                <h6>8:00am - 11:00pm</h6>
                <h6>9:00am - 12:00pm</h6>
                <h6>9:00am - 12:00pm</h6>
              </div>
            </div>
          </div>
          <div class="footer-item">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa-solid fa-location-dot"></i
                  ><span>Cambodia, Phnom Penh , </span> <br /><span
                    style="margin-left: 2rem"
                    >Sangkat Boeng Kak 1 </span
                  ></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-phone"></i
                  ><span>tel. +855 012 34567</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-envelope"></i
                  ><span>info@jongnahm.com</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-regular fa-envelope"></i
                  ><span>jongnham@gmail.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-under">
          <span>Restaurant JongNHam 2024. All rights reserved</span>
        </div>
      </div>
    </footer>
  </body>
</html>
