<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>


</style>
<body>
    <main>
        <section class="gallery">
            <div class="about-section">
                <h1>Gallery</h1>
                <p class="intro">
                  Welcome to JongNham Restaurant, where we combine passion for food with
                  an unforgettable dining experience.
                </p>
              </div>

            <div class="gallery-head">
                <h1>Appetizer</h1>
    <p>Start your meal with our exquisite appetizers. From light and fresh bites to warm, savory treats, explore our variety of appetizers to awaken your taste buds.</p>
            </div>
            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/appitizer1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Honey BBQ
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/appitizer2.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Butter Chicken 
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/appitizer3.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Cheese Bread
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/appitizer4.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Garlic Butter
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/appitizer5.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Shrimp Ceviche
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/food1.jfif" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Chicken 
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="gallery">
            
            <div class="gallery-head">
                <h1>Main Course</h1>
    <p>Indulge in our mouthwatering main courses, featuring a selection of rich flavors and textures. Each dish is carefully crafted with the finest ingredients for a memorable dining experience.</p>
            </div>
            
            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/mainc1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Salmon fillets
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/specaildish1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                 La Hong Bok
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/mainc2.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Strip Steak
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/mainc3.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Beef-Wellington
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/mainc4.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Steak Plate
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/mainc5.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Spagetti
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="gallery">
            
            <div class="gallery-head">
                <h1>Dessert</h1>
    <p>Finish your meal on a sweet note with our irresistible desserts. From decadent chocolate treats to refreshing fruit-based creations, we have something to satisfy every craving.</p>
            </div>
            

            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Tiramisu
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert2.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Cheesecake
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert3.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Orange Cake
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert4.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Blueberry Cake
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert5.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Green Matcha
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/service-1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Cap Cake
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
</html>