<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">


  
</head>

<body>
  <section>
    <div class="carousel">

      <div class="list">

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide2.jpg');">
              <div class="content">
                  <div class="title">WELCOME</div>
                  <div class="name">OUR WEBSITE</div>
                  <div class="des">The JongNham Restaurant in cambodia made in cambodian .This is Home Page .</div>
                  <div class="btn">
                    <button id="home-btn-reservation">Book Here</button>
                    <button id="home-btn-contact">Contact Us</button>
                  </div>
              </div>
          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/homepages1.jpg');">
              
              <div class="content">
                  <div class="title">WELCOME to</div>
                  <div class="name">OUR RESTAURANT</div>
                  <div class="des">JongNham Restaurant ,Booking now with your favorite food</div>
                  <div class="btn">
                    <button id="home-btn-reservation">Book Here</button>
                    <button id="home-btn-contact">Contact Us</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide3.jpg');">>

              <div class="content">
                  <div class="title">THE BEST</div>
                  <div class="name">STEAK BEEF</div>
                  <div class="des">let’s talk steak — a big, beautiful slab of beef. I used to only eat steak when my parents treated us to an old-school steakhouse dinner, and while I relished every minute of those meals, the menu always intimidated me. </div>
                  <div class="btn">
                    <button id="home-btn-reservation">Book Here</button>
                    <button id="home-btn-contact">Contact Us</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide4.jpg');">
              
              <div class="content">
                <div class="title">WELCOME to</div>
                <div class="name">OUR RESTAURANT</div>
                <div class="des">JongNham Restaurant ,Booking now with your favorite food</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide5.jpg');">
              
              <div class="content">
                  <div class="title">ENJOY with</div>
                  <div class="name">FAMOS CHEF</div>
                  <div class="des"> JongNham Restaurant, where we combine passion for food with an unforgettable dining experience</div>
                  <div class="btn">
                    <button id="home-btn-reservation">Book Here</button>
                    <button id="home-btn-contact">Contact Us</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/foodbaground.jpg');">
              
              <div class="content">
                <div class="title">BOOKING now</div>
                <div class="name">For Your Table</div>
                <div class="des">Welcome to JongNham Restaurant, where we combine passion for food with an unforgettable dining experience</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide6.jfif');">
              
              <div class="content">
                <div class="title">WELCOME</div>
                <div class="name">OUR WEBSITE</div>
                <div class="des">The JongNham Restaurant in cambodia made in cambodian .This is Home Page .</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/slide7.jfif');">
              
              <div class="content">
                <div class="title">ENJOY with</div>
                <div class="name">FAMOS CHEF</div>
                <div class="des"> JongNham Restaurant, where we combine passion for food with an unforgettable dining experience</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/specaildish3.jpg');">
              
              <div class="content">
                <div class="title">ENJOY with</div>
                <div class="name">FAMOS CHEF</div>
                <div class="des"> where we combine passion for food with an unforgettable dining experience</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/specaildish4.jpg');">
              
              <div class="content">
                <div class="title">RESERVE NOW</div>
                <div class="name">For Your Table</div>
                <div class="des">Welcome to JongNham Restaurant, where we combine passion for food with an unforgettable dining experience</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

          <div class="item" style="background-image:
          linear-gradient(to bottom, rgba(115, 115, 118, 0.219), rgba(0, 0, 0, 0.773)),
          url('/assets/images/specaildish1.jpg');">
              
              <div class="content">
                <div class="title">WELCOME</div>
                <div class="name">OUR WEBSITE</div>
                <div class="des">The JongNham Restaurant in cambodia made in cambodian .This is Home Page .</div>
                <div class="btn">
                  <button id="home-btn-reservation">Book Here</button>
                  <button id="home-btn-contact">Contact Us</button>
                </div>
            </div>

          </div>

      </div>

      <!--next prev button-->
      <div class="arrows">
          <button class="prev"><</button>
          <button class="next">></button>
      </div>


      <!-- time running -->
      <div class="timeRunning"></div>

  </div>
  </section>





  <section>
    <div class="home-offer">

      <div class="home-dish-title" >Flavors For Royalty</div>
      <div class="loader"></div>
      <div class="home-dish-name">We Offer Top Notch</div>
      <div class="home-offer-dish-des">
        At JongNham Restaurant, we're proud to offer a delicious selection of authentic Khmer food.
      </div>
      <div class="home-offer-container" >
        <div class="home-offer-card" >
          <div class="home-offer-image" >
            <img src="/assets/images/specaildish2.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Breakfast</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text" id="home-btn-menu">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/specaildish4.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Appetizers</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text" id="home-btn-menu">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/drinks1.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Drinks</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text" id="home-btn-menu">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/dessert1.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Dessert</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text" id="home-btn-menu">View Menu</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section>
    <div class="home-dish">
      <div class="home-dish-content">
        <div class="home-dish-card" >
          <p ><span>BOK L'HONG</span></p>
          <p ><span>BAY CHA</span></p>
          <p ><span>Nom Banh Chok </span></p>
        </div>
      </div>
      <div class="home-dish-content">
        <div class="home-dish-title">Special Dish</div>
        <div class="loader"></div>
        <div class="home-dish-name">Nom Banh Chok </div>
        <div class="home-dish-des" >
          Num banh chok (Khmer noodles) is another noodle dish that’s typically served for breakfast or consumed as an afternoon snack. These fermented rice noodles are hand-made in stone or wooden mills, saturated with a gravy of lemongrass,
        </div>
        <button class="frutiger-button">
          <div class="inner">
            <div class="top-white"></div>
            <span class="frutiger-text" id="home-btn-menu">View Menu</span>
          </div>
        </button>
      </div>
    </div>
  </section>


  <section>
    <div class="home-menu">
      <div class="home-features-title">
        <div class="home-dish-title">Hightlights Menu</div>
        <div class="loader"></div>
        <div class="home-dish-name">Delicious Menu</div>
      </div>
      <div class="home-menu-card" >
        <div class="home-menu-emojis" >
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/appitizer1.jpg" alt="" />
              <span>Honey BBQ</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/appitizer2.jpg" alt="" />
              <span>Butter Chicken</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/appitizer3.jpg" alt="" />
              <span>Cheese Bread</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/appitizer4.jpg" alt="" />
              <span>Garlic Butter</span>
            </div>
          </button>
        </div>
        <div class="home-menu-emojis">
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/appitizer5.jpg" alt="" />
              <span>Shrimp Ceviche</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/food1.jfif" alt="" />
              <span>Chicken</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/dessert.jpg" alt="" />
              <span>Tiramisu</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/dessert2.jpg" alt="" />
              <span>Cheesecake</span>
            </div>
          </button>
        </div>
        <div class="home-menu-emojis">
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/dessert3.jpg" alt="" />
              <span>Orange Cake</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/dessert4.jpg" alt="" />
              <span>Blueberry Cake</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/dessert5.jpg" alt="" />
              <span>Green Matcha</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/mainc1.jpg" alt="" />
              <span>Salmon fillets</span>
            </div>
          </button>
        </div>
      </div>
      <div class="home-menu-title">
        <div class="home-menu-des">
          During winter daily from 7:00 pm to 9:00 pm
        </div>
        <a href="#" class="home-menu-btn" id="home-btn-menu">View Menu</a>
      </div>
    </div>
  </section>

  <section>
    <div class="features-title">
      <div class="home-dish-title">Why Choose Us</div>
      <div class="loader"></div>
      <div class="home-dish-name">Our Strength</div>
      <div class="home-offer-dish-des">
        We use only the freshest ingredients and traditional cooking techniques to ensure that every dish is bursting with flavor.
      </div>
    </div>
    <div class="features">
      <div class="feature-box" id="home-btn-menu" >
        <div class="feature-icon">
          <img src="/assets/images/features-icon-1.png" alt="Hygienic Food" />
        </div>
        <h3>Hygienic Food</h3>
        <p>the practice of handling, preparing, and storing food in a way that prevents foodborne illnessesp>
      </div>
      <div class="feature-box" >
        <div class="feature-icon" id="home-btn-reservation">
          <img
            src="/assets/images/features-icon-2.png"
            alt="Fresh Environment"
          />
        </div>
        <h3>Fresh Environment</h3>
        <p>The food environment is seen as the physical, economical, political,</p>
      </div>
      <div class="feature-box" >
        <div class="feature-icon" id="home-btn-team">
          <img src="/assets/images/features-icon-3.png" alt="Skilled Chefs" />
        </div>
        <h3>Skilled Chefs</h3>
        <p>chef possesses excellent culinary skills, time management expertise, </p>
      </div>
      <div class="feature-box" >
        <div class="feature-icon"  id="home-btn-contact">
          <img src="/assets/images/features-icon-4.png" alt="Event & Party" />
        </div>
        <h3>Event & Party</h3>
        <p>A party is a social gathering with a specific purpose, </p>
      </div>
    </div>
  </section>
  <script>

      AOS.init();

    var nextBtn = document.querySelector('.next'),
    prevBtn = document.querySelector('.prev'),
    carousel = document.querySelector('.carousel'),
    list = document.querySelector('.list'), 
    item = document.querySelectorAll('.item'),
    runningTime = document.querySelector('.carousel .timeRunning') 

let timeRunning = 3000 
let timeAutoNext = 7000

nextBtn.onclick = function(){
    showSlider('next')
}

prevBtn.onclick = function(){
    showSlider('prev')
}

let runTimeOut 

let runNextAuto = setTimeout(() => {
    nextBtn.click()
}, timeAutoNext)


function resetTimeAnimation() {
    runningTime.style.animation = 'none'
    runningTime.offsetHeight /* trigger reflow */
    runningTime.style.animation = null 
    runningTime.style.animation = 'runningTime 7s linear 1 forwards'
}


function showSlider(type) {
    let sliderItemsDom = list.querySelectorAll('.carousel .list .item')
    if(type === 'next'){
        list.appendChild(sliderItemsDom[0])
        carousel.classList.add('next')
    } else{
        list.prepend(sliderItemsDom[sliderItemsDom.length - 1])
        carousel.classList.add('prev')
    }

    clearTimeout(runTimeOut)

    runTimeOut = setTimeout( () => {
        carousel.classList.remove('next')
        carousel.classList.remove('prev')
    }, timeRunning)


    clearTimeout(runNextAuto)
    runNextAuto = setTimeout(() => {
        nextBtn.click()
    }, timeAutoNext)

    resetTimeAnimation() // Reset the running time animation
}

// Start the initial animation 
resetTimeAnimation()
  </script>
</body>
</html>