<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section >
      <div class="about-section">
        <h1>All Menu</h1>
        <p class="intro">
          Welcome to JongNham Restaurant, where we combine passion for food with
          an unforgettable dining experience.
        </p>
      </div>

      <div class="menu-search">
        <i class="fas fa-search" id="search-menu"></i>
        <input
          type="text"
          id="searchInput"
          placeholder="Search menu items..."
        />
      </div>
      <div class="filter-flex">
        <div class="filter-icon">
          <i class="fa-solid fa-sliders"></i>
        </div>
        <div class="filter">
          <h2 id="List-all" class="active-filter">All</h2>
          
          
          <h2 data-category="appetizer">Appetizer</h2>
          <h2 data-category="maincourse">Main Course</h2>
          <h2 data-category="dessert">Dessert</h2>
          <h2 data-category="drink">Drink</h2>
          <h2 data-category="wine">Wine</h2>
          <h2 data-category="beer">Beer</h2>
          
          
        </div>
        
          
        
      </div>
      <div id="menuGrid"></div>
    </section>
  </body>
</html>
