<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team - Restaurant</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<style>



</style>
<body>

    <section>
        <div class="about-section">
            <h1>Meet Our Team</h1>
            <p class="intro">
              Welcome to JongNham Restaurant, where we combine passion for food with
              an unforgettable dining experience.to bring people together over exceptional food crafted with passion and care
            </p>
          </div>
        <div class="team">
            <div class="team-member">
                <img src="/assets/images/cheft-team2.jpg" alt="Chef John Doe">
                <h2>John Doe</h2>
                <p class="title">Head Chef</p>
                <p class="bio">John has over 20 years of experience in fine dining and is the mastermind behind our signature dishes.</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
                
            </div>
    
            <div class="team-member">
                <img src="/assets/images/cheft-team3.jpg" alt="Chef Jane Smith">
                <h2>Jane Smith</h2>
                <p class="title">Sous Chef</p>
                <p class="bio">Jane is passionate about creating innovative flavors and making sure each plate is a masterpiece.</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
            
            <div class="team-member">
                <img src="/assets/images/cheft2.png" alt="Sarah Lee">
                <h2>Sarah Lee</h2>
                <p class="title">Waitstaff</p>
                <p class="bio">Sarah is known for her friendly demeanor and exceptional service skills, making her a guest favorite.</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
    
            <div class="team-member">
                <img src="/assets/images/cheft-team4.jpg" alt="Mike Johnson">
                <h2>Mike Johnson</h2>
                <p class="title">Restaurant Manager</p>
                <p class="bio">With a background in hospitality, Mike ensures that every guest has a seamless dining experience.</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
    

        </div>
    </section>

    <section>
        <div class="about-section">
            <h1>Meet Our Team Project</h1>
            <p class="intro">
              Welcome to JongNham Restaurant, where we combine passion for food with
              an unforgettable dining experience.to bring people together over exceptional food crafted with passion and care
            </p>
          </div>
        <div class="team">
            <div class="team-member">
                <img src="/assets/team/Vanhong.png" alt="Horn Vanhong">
                <h2>Horn Vanhong</h2>
                <p class="title">UX/UI Designer</p>
                <p class="bio">His expertise spans user research, wireframing, prototyping, and high-fidelity design . . . </p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>

            <div class="team-member">
                <img src="/assets/team/Rachna.png" alt="Ann Rachana">
                <h2>Ann Rachana</h2>
                <p class="title">Front-end Developer</p>
                <p class="bio"> a deep passion for crafting responsive, dynamic, and user-friendly web interfaces . . . </p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>

    
            <div class="team-member">
                <img src="/assets/team/Chormrern.png" alt="Chhorn Chamrern">
                <h2>Chhorn Chamrern</h2>
                <p class="title">IT Support</p>
                <p class="bio">His expertise spans hardware and software maintenance, network configuration, system upgrades . . .</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
    
            <div class="team-member">
                <img src="/assets/team/Lita.png" alt="Chan Lita">
                <h2>Chan Lita</h2>
                <p class="title">Web Developer</p>
                <p class="bio">a passion for creating dynamic, user-friendly, and visually engaging websites . . .</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
    
            <div class="team-member">
                <img src="/assets/team/sreythiek.png" alt="Son sreythiek">
                <h2>Son SreyThiek</h2>
                <p class="title">Creative Strategist</p>
                <p class="bio">a dynamic and imaginative professional who thrives on generating impactful ideas . . .</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
            
            <div class="team-member">
                <img src="/assets/team/phiyo.png" alt="Phieu Phiyo">
                <h2>Phieu Phiyo</h2>
                <p class="title">Idea Innovator</p>
                <p class="bio">participating in workshops, networking with other innovators, and sharing her ideas to make a meaningful . . .</p>
                <div class="team-social">
                    <div class="team-s-facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="team-s-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="team-s-telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    
</body>
</html>
